# Instalar dependencias de Python

# Librerías necesarias para el análisis y visualización de datos
matplotlib
numpy

# Librerías necesarias para el web scraping y descarga de archivos
selenium
beautifulsoup4
requests

# Testing (Backend - Pytest)
pytest

